@model ScalabelSimpleBlog.Models.BlogControllerModels.BlogControllerLetestArticlesModel
<h3>Latest posts</h3>
<div class="list-group">
    @foreach (var item in Model.Articles)
    {
        <a href="@Url.Action("Article", "Blog", new{articleId = item.Id})" class="list-group-item">
            <span class="badge">@item.DateFrom.RelativeDate()</span>
            @item.Header
        </a>
    }
</div>
