@model ScalabelSimpleBlog.Models.BlogControllerModels.BlogControllerMostPopularViewModel

<h3>Most popular</h3>
<div class="list-group">
    @foreach (var item in Model.Articles)
    {
        <a href="@Url.Action("Article", "Blog", new{ articleId = item.Id})" class='list-group-item'>
            <span class="badge">@item.ClicksCount</span>
            @item.Header
        </a>
    }
</div>