@model ScalabelSimpleBlog.Models.BlogControllerModels.BlogControllerMostCommentedModel

<h3>Most Commented for last 14 days</h3>
<div class="list-group">
    @foreach (var item in Model.Articles)
    {
        <a href="@Url.Action("Article", "Blog", new{ articleId = item.Id })" class='list-group-item'>
            <span class="badge">@item.CommentCount</span>
            @item.Header
        </a>
    }
</div>
